.menuContainer {
  background: var(--teal-light);
  font-family: Poppins, sans-serif;
  max-height: 200px;
  overflow-y: auto;
  font-style: normal;
  font-weight: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.2px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: var(--text-normal);
}
.menuButton {
  border-radius: 30px;
  padding: 0.4rem 1rem 0.4rem 1.5rem;
  background: var(--teal-light);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--teal-primary);
  list-style: none;
  display: flex;
  align-items: center;
  justify-self: center;
  transition: background 0.3s;
  cursor: pointer;
  height: 44px;
  &.empty {
    border: 2px dashed grey;
    background: transparent;
    color: grey;
  }
  &:hover {
    border-color: var(--teal-primary);
    color: var(--teal-primary);
  }
  svg {
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  p {
    max-width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.active {
  color: var(--teal-primary);
  padding: 0.75rem 1.5rem;
  text-overflow: ellipsis;
  max-width: 15rem;
  overflow: hidden;
  white-space: pre-wrap;
  &:hover {
    background: none;
  }
}

.default {
  transition: color 0.3s;
  padding: 0.75rem 1.5rem;
  text-overflow: ellipsis;
  max-width: 15rem;
  overflow: hidden;
  white-space: pre-wrap;
  &:hover {
    background: none;
    color: var(--teal-primary);
  }
}

// SECOND TYPE STYLE

.menuWhiteContainer {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: var(--white);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.2px;
  color: var(--text-normal);
}

.task.menuContainer {
  width: 231px;
  top: 32.8671px !important;
}
