* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
button {
  border: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background: silver;
  border-radius: 20px;
  height: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

:root {
  --white: #ffffff;
  --teal-primary: #089bab;

  --teal-dark: #017d8a;
  --teal-light: #edf5f6;

  --gray-darker: #495057;
  --gray-dark: #404040;
  --gray-normal: #858383;
  --gray-light: #dbdbdb;
  --gray-lighter: #f7f7f7;
  --gray-super-light: #c7c7c7;

  --text-normal: #4d4d4d;
  --text-dark: #110c0c;
  --text-darker: #a5a5a5;

  //UTILITY COLORS:

  --util-green-dark: #23792c;
  --util-green-normal: #2e9b39;
  --util-green-light: #5ddb6a;
  --util-green-lighter: #c9ebc9;

  --util-orange-dark: #df7131;
  --util-orange-normal: #ff8a47;
  --util-orange-light: #fff0e8;

  --util-red-500: #c05656;
  --util-red-300: #de6262;
  --util-red-100: #ffe2e1;

  --util-gold: #d4af37;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--teal-light);
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h4 {
  font-family: Poppins;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
.primary-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--text-normal);
  text-transform: none;
}
.MuiButton-root.Mui-disabled {
  background: var(--gray-light) !important;
  &:hover {
    border: none;
  }
}

.MuiIconButton-colorSecondary:hover {
  background-color: transparent !important;
}

.MuiCheckbox-colorSecondary.Mui-checked:hover {
  background-color: transparent !important;
}

.MuiInputBase-input.Mui-disabled {
  background: #f7f7f7;
  border: 1px solid rgba(81, 92, 111, 0.16);
  box-sizing: border-box;
  border-radius: 5px;
  &:hover {
    border: 1px solid rgba(81, 92, 111, 0.16);
  }
}

.react-tel-input .flag-dropdown {
  background: none;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid transparent;
  }
}

.react-tel-input {
  border-radius: 5px;
  input.form-control.open {
    border: 1px solid var(--teal-primary);
  }
  .flag-dropdown.open {
    z-index: 121;
    border-right: 1px solid transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid var(--teal-primary);
    border-left: 1px solid var(--teal-primary);
    border-bottom: 1px solid var(--teal-primary);
  }
}

.react-tel-input .form-control {
  width: 100%;
  font-size: 0.875rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 2.5rem;
  border: 1px solid rgba(81, 92, 111, 0.16);
  color: var(--text-normal);
  letter-spacing: normal;
  transition: border 0.3s;

  &:focus {
    border: 1px solid var(--teal-primary);
  }
  &:hover {
    border: 1px solid var(--teal-primary);
  }
}

// TOASTS STYLING:

.Toastify__toast-container {
  width: auto;
}

.Toastify__close-button {
  opacity: 0.8;
  margin: auto 1.5rem auto 0;
  svg {
    width: 2rem;
    height: 2rem;
  }
}

.Toastify__toast {
  box-shadow: 0px 2px 10px rgba(81, 145, 71, 0.25);
  border-radius: 5px;
  padding: 0.75rem 0;
}

.Toastify__toast--info {
}

.Toastify__toast--success {
  background-color: var(--util-green-lighter);
  color: var(--util-green-normal);
  position: relative;
  &::before {
    content: '';
    z-index: 1231203;
    position: absolute;
    width: 0.375rem;
    height: 4rem;
    padding: 0.5rem 0px;
    background: var(--util-green-normal);
    left: 0;
    transform: translate(0%, -10%);
  }
  .Toastify__close-button {
    color: var(--util-green-normal);
  }
}
.Toastify__toast--warning {
}
.Toastify__toast--error {
  background: var(--util-red-100);
  color: var(--util-red-300);
  position: relative;
  &::before {
    content: '';
    z-index: 1231203;
    position: absolute;
    width: 0.375rem;
    height: 4rem;
    padding: 0.5rem 0px;
    background: var(--util-red-300);
    left: 0;
    transform: translate(0%, -10%);
  }
  .Toastify__close-button {
    color: var(--util-red-300);
  }
}

.Toastify__toast-body {
  font-family: Poppins, sans-serif;
  margin: auto 1.5rem;
  font-weight: 500;
  padding: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  white-space: nowrap;
  letter-spacing: -0.2px;
}

.table-arrow {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .Toastify__close-button {
// }
// .Toastify__close-button--default {
// }
// .Toastify__close-button > svg {
// }
// .Toastify__close-button:hover, .Toastify__close-button:focus {
// }

.orange-btn.flexBox {
  background: red;
}

.orange-btn.blue-btn.flexBox {
  background: blue;
}

.div-feature {
  z-index: 10000;
}

.completedRow {
  td:nth-child(7) {
    opacity: 1;
  }
  td {
    opacity: 0.5;
  }
}
.wrapper .react-slidedown {
  transition-duration: 1s;
}

.MuiCircularProgress-colorPrimary {
  color: var(--teal-primary);
  svg {
    color: var(--teal-primary);
    width: 18px;
    height: 24px;
  }
}

.react-datepicker__day.react-datepicker__day--disabled {
  opacity: 0.5;
  &:hover {
    background: none;
    color: #565656 !important;
  }
}
.tool-tips {
  background-color: #404040 !important;
  opacity: 1 !important;
  font-family: 'Poppins' !important;
  color: '#fff' !important;
  padding: 5px 12px !important;
}

.table-expand {
  background: transparent;
}

.react-datepicker__day--range-start,
.react-datepicker__day--range-end,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:focus {
}

.MuiInput-underline:after {
  content: none !important;
}

.MuiInput-underline:before {
  content: none !important;
}

// aUTOCOMPLETE MATERIAL

.MuiAutocomplete-paper {
  font-family: Poppins, sans-serif !important;
  font-style: normal !important;
  margin: 12px 0 !important;
  font-weight: normal !important;
  font-size: 0.9375rem !important;
  line-height: 1.375rem !important;
  color: var(--text-normal) !important;
  background: var(--white) !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;
}

.MuiAutocomplete-option {
  transition: color 0.3s;
  &:hover {
    color: var(--teal-primary);
    background: none;
  }
}

.MuiAutocomplete-option[data-focus='true'] {
  background-color: var(--white) !important;
}

.MuiAutocomplete-option[aria-selected='true'] {
  background-color: var(--white) !important;
  color: var(--teal-primary);
}

.custom-picker-input {
  background: var(--white);
  border-radius: 5px;
  border: 1px solid rgba(81, 92, 111, 0.16);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375rem;
  color: var(--text-normal);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: border 0.4s;
  &:hover {
    border: 1px solid var(--teal-primary);
  }

  &:active {
    border: 1px solid var(--teal-primary);
  }
  &:focus {
    border: 1px solid var(--teal-primary);
  }
}

.react-datepicker-popper {
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.webviewer {
  flex: 1;
  margin: 8px;
  -webkit-box-shadow: 1px 1px 10px #999;
  box-shadow: 1px 1px 10px #999;
}

.divider {
  width: 100%;
  margin: 16px 0;
  border-top: 1px solid var(--divider);
}

.pdf-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.pageContainer {
  filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  position: relative;
}

.flexbox-container {
  display: flex;
}

.pdf-container {
  position: relative;
}
