.react-autosuggest__container {
  width: 100%;
  position: relative;
}

.searchInputContainer {
  position: relative;
  width: 100%;
  z-index: 100;
  background: transparent;
}

.searchInputContainer svg {
  position: absolute;
  margin: 0.5rem 0 0.5rem 1rem;
}

.searchInputContainer .react-autosuggest__suggestion--highlighted li {
  background: red !important;
}

.searchInputContainer .react-autosuggest__suggestion--highlighted li div {
  background: red !important;
  color: var(--teal-primary);
}

.searchInputContainer button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 50%;
  color: var(--teal-primary);
  font-size: 0.625rem;
  line-height: 1rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.2px;
  cursor: pointer;
  padding: 0.125rem 0.5rem;
  background: rgba(8, 155, 171, 0.1);
  border-radius: 5px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.searchInputContainer input {
  padding: 0.75rem 5.5rem 0.75rem 0.5rem;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: -0.2px;
  color: var(--text-normal);
  padding-left: 2.75rem;
  border-radius: 20px;
  border: none;
  background: var(--teal-light);
  height: 2.25rem;
  width: 100%;
}

.searchInputContainer input::-webkit-input-placeholder {
  color: var(--teal-primary);
}

.searchInputContainer input:-ms-input-placeholder {
  color: var(--teal-primary);
}

.searchInputContainer input::-ms-input-placeholder {
  color: var(--teal-primary);
}

.searchInputContainer input::placeholder {
  color: var(--teal-primary);
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 2.5rem;
  width: 100%;
  background-color: var(--teal-light);
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border-bottom-left-radius: 1.125rem;
  border-bottom-right-radius: 1.125rem;
  z-index: 2;
}

.react-autosuggest__suggestions-container--open::before {
  content: '';
  width: 100%;
  position: absolute;
  top: -1.1rem;
  height: 1.05rem;
  background: var(--teal-light);
}

.react-autosuggest__suggestions-container--open ul {
  overflow: hidden;
  max-height: 15rem;
}

.suggestionFooter {
  margin-top: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.suggestionFooter button {
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  text-align: left;
  font-style: normal;
  background: none;
  letter-spacing: -0.2px;
  color: var(--util-orange-normal);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.suggestionFooter button:hover {
  color: var(--util-orange-dark);
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 1rem 2.5rem;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: -0.2px;
  color: var(--text-normal);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.react-autosuggest__suggestion p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.react-autosuggest__suggestion:hover {
  color: var(--teal-dark) !important;
}

.react-autosuggest__suggestion:hover .react-autosuggest__suggestion-match {
  color: var(--teal-dark);
}

.react-autosuggest__suggestion-match {
  color: var(--text-normal);
  font-weight: 500;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
/*# sourceMappingURL=styles.css.map */